<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shadowcalc.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher_equal"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_equal"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShadowCalc"
        android:requestLegacyExternalStorage="true">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".HomeActivity" android:screenOrientation="portrait" />
        <activity android:name=".GalleryActivity" android:screenOrientation="portrait" />
        <activity android:name=".FileManagerActivity" android:screenOrientation="portrait" />
        <activity android:name=".NotesActivity" android:screenOrientation="portrait" />
        <activity android:name=".BrowserActivity" android:screenOrientation="portrait" />
        <activity android:name=".DownloadsActivity" android:screenOrientation="portrait" />
        <activity android:name=".SettingsActivity" android:screenOrientation="portrait" />
        <activity android:name=".TrashActivity" android:screenOrientation="portrait" />
        <activity android:name=".SearchActivity" android:screenOrientation="portrait" />
        <activity android:name=".ImageViewerActivity" android:screenOrientation="portrait" />
        <activity android:name=".VideoPlayerActivity" android:screenOrientation="landscape" android:configChanges="orientation|screenSize" />
        <activity android:name=".AudioPlayerActivity" android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>
</manifest>
